/* CSS del inicio de sesión_persona de apoyo */

/* KM = Principal paleta de colores */
:root {
  --rosa_claro: #f7acc6;
  --rosa_oscuro: #f26a9a;
  --morado_claro: #b592bd;
  --morado_oscuro: #70338a;
  --morado_oscuro-dos: #70338a;
  --naranja_claro: #f4a261;
  --naranja_oscuro: #e76f51;
  --crema_claro: #fff9e6;
  --crema_oscuro: #f2e4c3;
  --durazno: #ffd6c1;
  --lavanda: #e6d6f3;
  --mantequilla: #fff4b8;
  --negro: #151414;
  --negro_cálido: #2d2a2a;
  --gris: #868686;
  --gris_oscuro: #3c3c3c;
  --blanco: #ffffff;
  --segundo-blanco: #fff;
  --sombra: rgba(0, 0, 0, 0.381);
  --sombrita: rgba(255, 255, 255, 0.773);
  --sombre: rgba(62, 0, 55, 0.6);
}

/* KM = Colores para modo oscuro de la pagina*/
.dark-mode {
  --rosa_claro: #b45f7d;
  --rosa_oscuro: #944062;
  --morado_claro: #4a1467;
  --morado_oscuro: #210c2b;
  --morado_oscuro-dos: #c1a7e4;
  --naranja_claro: #bf5c3a;
  --naranja_oscuro: #9a3f2c;
  --crema_claro: #3b2f2f;
  --crema_oscuro: #2e2323;
  --durazno: #a84f3a;
  --lavanda: #9270c2;
  --mantequilla: #bfa565;
  --negro: #ffffff;
  --negro_cálido: #ffffff;
  --gris: #b9b6b6;
  --gris_oscuro: #ffffff;
  --blanco: #000;
  --segundo-blanco: #fff;
  --sombrita: rgba(0, 0, 0, 0.074);
  --sombra: rgba(255, 255, 255, 0.53);
  --sombre: rgba(36, 2, 34, 0.688);
}

/*KM = Carga de tipografías */
@font-face {
  font-family: 'Chewy'; 
  src: url('../../libreria/tipografia/Chewy/Chewy-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Comic_Neue';
  src: url('../../libreria/tipografia/Comic_Neue/ComicNeue-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Shadows_Into_Light'; 
  src: url('../../libreria/tipografia/Shadows_Into_Light/ShadowsIntoLight-Regular.ttf') format('truetype');
}

/*KM = Estilo General */
body {
font-family: "Comic_Neue", sans-serif;
background-color: var(--rosa_oscuro);
margin: 0;
padding: 18px;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
}

/*KM = Contenedor Principal */
.form-sesion {
width: 90%;
max-width: 340px;
background-color: var(--blanco);
padding: 20px;
border-radius: 8px;
box-shadow: 7px 13px 37px rgba(255, 255, 255, 0.5);
text-align: center;
}

/*KM = Título */
.titulo {
font-size: 26px;
font-weight: bold;
color: var(--rosa_claro);
margin-bottom: 8px;
text-align: center;
display: block;
}

/*KM = Títule */
.titula {
font-size: 25px;
font-weight: bold;
color: var(--rosa_claro);
text-align: center;
display: block;
margin-bottom: 16px;
} 

.label-bold{
font-weight: bold;
text-align: left;
display: block;
margin-top: 4px;
margin-bottom: 4px;
font-size: 14px;
color: var(--negro);
}

/*KM = Inputs */
.controls {
font-family: "Comic_Neue", sans-serif;
width: 100%;
background: var(--segundo-blanco);
padding: 9px;
border-radius: 4px;
margin-top: 4px;
margin-bottom: 18px;
border: 1px solid var(--gris);
font-size: 14px;
box-sizing: border-box;
}

/*KM = Campo de contraseña con icono */
.input-icon {
position: relative;
display: flex;
align-items: center;
}

.input-icon .icon {
position: absolute;
right: 12px;
top: 35%; 
transform: translateY(-50%);
cursor: pointer;
width: 20px;
height: 20px;
}

/*KM = Botón de Inicio */
fieldset .boton-ma {
font-family: "Comic_Neue", sans-serif;
width: 100%;
background: var(--rosa_oscuro);
border-radius: 4px;
border: none;
padding: 12px;
color: var(--segundo-blanco);
font-size: 16px;
cursor: pointer;
margin-bottom: 15px;
}

.boton-ma:hover {
background: var(--rosa_oscuro);
}

/*KM = Enlaces */
#usuario-links {
text-align: center;
margin-top: 10px;
font-size: 14px;
}

#usuario-links a {
color: var(--morado_oscuro-dos);
text-decoration: underline;
}

#usuario-links a:hover {
color: var(--rosa_oscuro);
}

.btn-glow {
color: var(--morado_oscuro-dos);
display: block;
margin-top: 20px; 
margin-bottom: 20px; 
text-align: center;
font-size: 14px;
}

/*KM = Fondo de Partículas */
#particles-js {
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
z-index: -1;
background-color: var(--rosa_oscuro);
}

/* KM = Botones de modo oscuro y subidon de ...*/
.modo-flotante {
  position: fixed;
  top: 8px;
  right: 1.5rem;
  background: var(--rosa_oscuro);
  border: none;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icono-modo {
  width: 28px;
  height: 28px;
  object-fit: contain;
  pointer-events: none;
}

.scroll-top-btn {
  position: fixed;
  top: 80px;
  right: 1.5rem;
  background: var(--morado_claro);
  border: none;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  font-size: 1.6rem;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  transform: scale(0.9);
}

.scroll-top-btn.visible {
  opacity: 1;
  pointer-events: auto;
}

.scroll-top-btn:hover {
  transform: scale(1.05);
}

.icono-flota {
  width: 28px;
  height: 28px;
  animation: floatUpDown 4s ease-in-out infinite;
}

.error-message {
  color: var(--rosa_claro);
  font-size: 13px;
  margin-bottom: 6px;
  display: block;
  word-wrap: break-word;
  white-space: normal;
}

/*KM = Móviles más grandes */
@media screen and (min-width: 480px) {
.form-sesion {
  width: 400px;
  padding: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.titulo {
  font-size: 28px; 
}

.titula {
  font-size: 28px; 
}
/* KM = Icono de modo oscuro */
  .modo-flotante {
    top: auto;
    position: fixed;
    bottom: 120px;
    right: 1.5rem;
    background: var(--rosa_oscuro);
    border: none;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 6px 16px var(--sombra);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icono-modo {
    width: 40px;
    height: 40px;
    object-fit: contain;
    pointer-events: none;
  }

  .dark-mode .modo-flotante {
    background: var(--negro);
    border: 1px solid var(--lavanda_claro);
  }

  /* KM = Scroll para poder subir al momento de bajar ( Tremendo reciclaje me mande :( ) */
  .scroll-top-btn {
    top: auto;
    position: fixed;
    bottom: 210px;
    right: 1.5rem;
    background: var(--morado_claro);
    border: none;
    border-radius: 50%;
    width: 72px;
    height: 72px;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 6px 16px var(--sombra);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    transform: scale(0.9);
  }

  .scroll-top-btn:hover {
    transform: scale(1.1);
  }

  .scroll-top-btn.visible {
    opacity: 1;
    pointer-events: auto;
  }

  .icono-flota {
    width: 40px;
    height: 40px;
    object-fit: contain;
    pointer-events: none;
    animation: floatUpDown 4s ease-in-out infinite;
  }
}

/*KM = Tablets */
@media screen and (min-width: 768px) {
.form-sesion {
  width: 700px;
  padding: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.titulo {
  font-size: 30px; 
}

.titula {
  font-size: 30px; 
}

.label-bold {
  font-size: 16px; 
}

.controls {
  font-size: 16px; 
}

fieldset .boton-ma {
  font-size: 18px; 
}

#usuario-links {
  font-size: 16px; 
}

.btn-glow {
  font-size: 16px;
  margin-top: 30px;
}
}

/*KM = Escritorio */
@media screen and (min-width: 950px) {
.form-register {
  width: 900px;
  padding: 40px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.titulo {
  font-size: 32px; 
}

.titula {
  font-size: 32px;
  white-space: nowrap; 
}

.label-bold {
  font-size: 16px; 
}

.controls {
  font-size: 16px; 
}

fieldset .boton-ma {
  font-size: 18px; 
}

#usuario-links {
  font-size: 16px; 
}

.btn-glow {
  font-size: 16px;
  margin-top: 30px;
}
}